@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #159957;

		--background: 159 49.4% 2.72%;
		--foreground: 159 7.6% 96.7%;

		--muted: 159 38% 10.200000000000001%;
		--muted-foreground: 159 7.6% 53.4%;

		--popover: 159 49.8% 4.42%;
		--popover-foreground: 159 7.6% 96.7%;

		--card: 159 49.8% 4.42%;
		--card-foreground: 159 7.6% 96.7%;

		--border: 159 38% 10.200000000000001%;
		--input: 159 38% 10.200000000000001%;

		--primary: 159 76% 34%;
		--primary-foreground: 159 7.6% 96.7%;

		--secondary: 159 38% 10.200000000000001%;
		--secondary-foreground: 159 7.6% 96.7%;

		--accent: 159 38% 10.200000000000001%;
		--accent-foreground: 159 7.6% 96.7%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 159 7.6% 96.7%;

		--ring: 159 76% 34%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
